@import 'variables';

body {
  font-family: 'Ubuntu Sans', sans-serif;
  color: $foreground;
}

.font-headline {
  font-family: 'Ubuntu Sans', sans-serif;
}

.font-body {
  font-family: 'Ubuntu Sans', sans-serif;
}

.font-code {
  font-family: monospace;
}
